
body,h1,h2,h3,ul,li,p{
  margin: 0;
  font-family: serif;
  
  
}
body{
  background-color: white;
  
}
a {
  text-decoration: none;
  font-weight: bold;
  color: unset;
}
li{
  list-style: none;
}
/* 最初の動き */
.enji1,.enji2,.enji3{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(183, 25, 63, 1.0);
}
.enji{
  top: 0;
}
.enji2{
  top: calc(100%/3);
}
.enji3{
  top: calc(200%/3);
}
/* ヘッダー */
.header-nav{
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  position: fixed;
  z-index: 999;
}
header ul{
  display: flex;
  justify-content: center;
}
header ul li{
  padding: 0 30px;
  font-size: 28px;
  color: white;
}
/* タイピング風 */
.typing{
  background-image: url(../image/top.JPG);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
.typed{
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.typeed-wrap h1 {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
}
.typed::after{
  content: "|";
  animation: blink 0.7s infinite;
}
.section-title{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  
}
.container{
  margin: 20px 0;
  text-align: center;
}
.pro{
  display: flex;
  text-align: left;
  margin: 0 30px;
}
.pro-img img{
  border-radius: 50%;
  padding-right: 30px;
}
.pro-text h3{
  font-size: 24px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.works-container{
  margin-top: 90px;
}
.works{
  display: flex;
  justify-content: space-around;
}
#contact{
  height: 200px;
  text-align: center;
  font-size: 28px;
  background-color: beige;
  color: black;
  padding: 30px;
}


.section-title{
  display: inline-block;
  border-bottom: 1px solid white;
}

.SPnav{
  display: none;
}

@media (max-width: 678px) {
  /* menu */
  .header-nav{
    display: none;
  }
.pro{
  flex-direction: column;
}
.works{
justify-self: unset;
flex-direction: column;
}
.work{
  margin-bottom: 30px;
  overflow: hidden;
}
/* .SPnav{
  display: unset;
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom:1rem
}
.parent{
  position: relative;
}
#main_botton{
  opacity: 0;
  position: fixed;
  left: 2rem;
}
.button_label{
  position: fixed;
}
.main_button_bg{
  position: fixed;
  width: 4rem;
  height: 4rem;
  background: #F23363;
  border-radius: 50%;
  z-index: 100;
  transition: all 0.5;
  bottom: 1rem;
  right: 1.5rem;
}
.button{
  position: fixed;
  z-index: 101;
}
.button::before,.button::after{
  position: absolute;
  background-color: white;
  border-radius: 5px;
  content: "";
  transition: all 1s;
}
.button::before{
  width: 2rem;
  height: 0.2rem;
  right: -21rem;
  top: 2.5rem;
}
.button::after{
  width: 0.2rem;
  height: 2rem;
  right: -20.1rem;
  top: 1.6rem;
}
.logo_origin{
  position: absolute;
  top: 0.9rem;
  transform: scale(0);
}
.logo_origin a{
  color: #fff;
  background: #F23363;
}
.logo_origin .size{
  font-size: 1.9rem;
  background: #F23363;
  transition: all 0.5s;
}
.logo_origin .about,
.logo_origin .works,
.logo_origin .contact{
  position: relative;
  transition: all 0.7s;
}
.logo_origin .about{
  right: -19rem;
}
.logo_origin .works{
  right: -15rem;
}
.logo_origin .contact{
  right: -10rem;
}
#main_botton:checked + label .main_button_bg{
  border-radius: 90px;
  width: 20.5rem;
}
#main_botton:checked ~ .logo_origin{
  transform: scale(1.0);
}
#main_botton:checked ~ .logo_origin .about{
  right: -14.3rem;
  top: 1rem;
}
#main_botton:checked ~ .logo_origin .works{
  right: -7rem;
  top: 1rem;
}
#main_botton:checked ~ .logo_origin .contact{
  right: 0.5rem;
  top: 1rem;
} */
}
